body {
    /* color: rgb(34, 34, 34); */
    /* background-color: rgb(224, 237, 245);  */
    font-size: 18px;
    color: rgb(238, 238, 238);
    background-color: #061f1c;
    /* margin-top: 50px; */
    margin: 0px;
    font-family: 'Nunito Sans', sans-serif; 
}

h1 {
    font-size: 3.5em;
    padding: 0.5em 2.8em;
    margin: 0em;
    background-color: #013A91;
}

h3 {
    margin: 0em 0em;
}

ul {
    margin: 1em 1em;
}

a:link {
    color: rgb(192, 206, 255);    
    background-color: transparent;
    text-decoration: none;
    transition: 0.2s;
}

a:hover {
    color: rgb(162, 192, 255);
    background-color: transparent;
    text-decoration: underline;
    transition: 0.2s;
    font-size: 19px;
}

a:visited {
    color: rgb(162, 192, 255);    
    background-color: transparent;
    text-decoration: none;
}

hr {
    border: 1px solid rgb(63, 63, 63);
    margin-top: 3em;
}


section {
    padding: 0em 10em;
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding-top: 15px;
    padding-bottom: 15px;
}


.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.wave svg {
    position: relative;
    display: block;
    width: calc(103% + 1.3px);
    height: 52px;
}
.wave .shape-fill-black {
    fill: #001220;
}



.wave2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.wave2 svg {
    position: relative;
    display: block;
    width: calc(140% + 1.3px);
    height: 60px;
    transform: rotateY(180deg);
}
.wave2 .shape-fill {
    fill: #E44031;
}
.wave2 .shape-fill-red {
    fill: #e44031;
}



.toppad {
    padding-top: 4em;
}

.spacer {
    aspect-ratio: 960/60;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.layer1 {
    background-image: url('layered.svg');
}


.blue {
    background: #3c31dd;
}

.red {
    background: #e44031;
}

.darkgray {
    background: #061f1c;
    overflow: hidden;
}

.dark {
    background: #001220;
}

table {
    padding: 2em 0em;
    margin: 0em 0em;
}

td {
    width: 1500em;
    text-align: center;
}

.quote {
    color: antiquewhite;
    text-align: center;
    font-size: 15px;
    bottom: 2em;
}

#footer {
    position: absolute;
    bottom: 0;
    height: 20px;
    background: #f0f0f0;
    width: 100%;
}

.bottom1 {
    height: 210px;
    display: table-cell;
    vertical-align: bottom;
    padding-bottom: 0;
}
