body {
    font-size: medium;
    color: rgb(238, 238, 238);
    background-color: #1E293B;
    margin: 0px;
    font-family: 'Nunito Sans', sans-serif; 
}
h1 {
    font-size: 3rem;
    padding: 2rem 0 2rem 10%;
    margin: 0em;
    background-color: #013A91;
    font-weight: bold;
}
h3 {
    margin: 0em 0em;
}
p.intro {
    font-size: small;
    margin-bottom: 0.6em;
}
div.content{
    margin: auto auto;
    max-width: 1024px;
}



ul {
    margin: 1em 1em;
}



a:link {
    color: rgb(192, 206, 255);    
    background-color: transparent;
    text-decoration: none;
    transition: 0.2s;
}
a:visited {
    color: rgb(253, 234, 171);    
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: rgb(158, 181, 255);
    background-color: transparent;
    text-decoration: underline;
    transition: 0.2s;
    font-size: 19px;
}

a.viewicon:link {
    color: rgb(192, 206, 255);    
    background-color: transparent;
    text-decoration: none;
    transition: 0.2s;
}
a.viewicon:visited {
    color: rgb(255, 229, 144);    
    background-color: transparent;
    text-decoration: none;
}
a.viewicon:hover {
    color: rgb(81, 122, 255);
    background-color: transparent;
    text-decoration: none;
    transition: 0.2s;
    font-size: 20px;
}



hr {
    border: 1px solid rgb(63, 63, 63);
    margin-top: 3em;
}




section {
    padding: 0em 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding-top: 15px;
    padding-bottom: 15px;
}


.wave1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.wave1 svg {
    position: relative;
    display: block;
    width: calc(103% + 1.3px);
    height: 52px;
}
.wave1 .shape-fill-black {
    fill: #1E293B;
}



.wave2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.wave2 svg {
    position: relative;
    display: block;
    width: calc(140% + 1.3px);
    height: 60px;
    transform: rotateY(180deg);
}
.wave2 .shape-fill-red {
    fill: #e44031;
}



.toppad {
    padding-top: 4em;
}

.spacer {
    aspect-ratio: 900/70;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}
.layered-wave-1 {
    background-image: url('layered-wave-1.svg');
}


.blue {
    background: #3c31dd;
}

.red {
    background: #e44031;
}

table {
    padding: 2em 0;
}

td {
    width: 100rem;
    text-align: center;
}

.quote {
    color: antiquewhite;
    text-align: center;
    font-size: 15px;
}
/* 
#footer {
    position: absolute;
    bottom: 0;
    height: 20px;
    background: #f0f0f0;
    width: 100%;
} */

.bottom1 {
    height: 140px;
    /* display: table-cell; */
    vertical-align: bottom;
    margin-bottom: 1em;
}

